<div class="ui text menu">
    <div class="item">
        <form action="" class="ui form">
            <div class="ui right icon input">
                <i class="search link icon"></i>
                <input name="q" type="text" class="prompt" placeholder="Search..." style="border-radius: 20px;">
            </div>
        </form>
    </div>
    <div class="right menu">
        <div class="item">
            <a href="{{ add_url }}" class="ui primary labeled icon button">
                <i class="add icon"></i> {{ add_title}}
            </a>
        </div>
    </div>
</div>