{% if is_paginated %}
<div class="ui pagination menu">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="item">Prev</a>
    {% else %}
    <div class="item disabled">Prev</div>
    {% endif %}
    <a href="#" class="item disabled">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </a>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="item">Next</a>
    {% else %}
    <div class="item disabled">Next</div>
    {% endif %}
</div>
{% endif %}