{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ processor_klinik.nm_klinik|default:'Klinik Sehat' }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
    <style>
        @media only screen and (max-width: 600px) {
            #sidebar {
                display: none;
            }
            .tep {
                margin-left: 0px;
            }
        }
        @media only screen and (min-width: 600px) {
            #sidebar {
                display: none;
            }
            .tep {
                margin-left: 0px;
            }
        }
        @media only screen and (min-width: 768px) {
            #sidebar {
                display: block;
            }
            .tep {
                margin-left: 15rem;
            }
        }
    </style>
</head>
<body>
    <div class="ui vertical sidebar inverted blue menu">
        {% include 'sidebar.html' %}
    </div>
    <div class="pusher">
        <div id="sidebar" class="ui vertical left fixed secondarys inverted blue secondary menu">
        {% include 'sidebar.html' %}
        </div>
        <div class="tep">
            {% include 'navbar.html' %}
            <div class="ui vertical segment" style="background-color: #f5f5f5;min-height: 500px;">
                {% block content %}
                {% endblock %}
            </div>
            {% include 'footer.html' %}
        </div>
    </div>

    <div class="ui modal">
        <!-- Modal content -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
    <script src="{% static 'main.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#barsbtn').on('click', function() {
                $('.ui.sidebar').sidebar('toggle');
            });
        });
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>