<div class="ui vertical fluid segment">
    <div class="ui grid">
        <div class="row computer only">
            <div class="column">
                <div class="ui secondary container menu">
                    <div class="item header">{{ processor_klinik.nm_klinik|upper|default:'KLINIK SEHAT' }}</div>
                    <div class="right menu">
                        <div class="item text">
                            Selamat datang, &nbsp; <strong>{{request.user.fullname|default:'Jhon'}}</strong>
                        </div>
                        <a href="{% url 'logout' %}" class="item">
                            <i class="sign out alternate icon"></i>
                            Keluar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mobile only">
            <div class="column">
                <div class="ui secondary container menu">
                    <div class="item">
                        <a id="barsbtn" class="ui icon basic button">
                            <i class="bars icon"></i>
                        </a>
                    </div>
                    <div class="right menu">
                        <a href="{% url 'logout' %}" class="item">
                            <i class="sign out alternate icon"></i>
                            Keluar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>