<div class="header item">MENU</div>
<a href="{% url 'medis:peserta-list' %}" class="item">Praktek Umum <i class="user injured icon"></i></a>
<a href="{% url 'payment:invois-list' %}" class="item">Pembayaran <i class="cash register icon"></i></a>
<a href="{% url 'masterdata:pasien-list' %}" class="item">Pasien <i class="user icon"></i></a>
<a href="{% url 'masterdata:obat-list' %}" class="item">Stok Obat <i class="pills icon"></i></a>
<a href="{% url 'masterdata:tarif-list' %}" class="item">Tarif & Layanan Medis <i class="star icon"></i></a>
<a href="{% url 'account:user-list' %}" class="item">User Managemen <i class="user cog icon"></i></a>
<div class="item">
    <div class="header">My Profile</div>
    <div class="menu">
        <a href="{% url 'account:reset-password' %}" class="item">Ubah Password</a>
    </div>
</div>
