{% load widget_tweaks %}

<div class="field">
    <label for="">Nama Layanan</label>
    {{ form.nm_tarif }}
    <small>* Nama layanan yang diberikan</small>
</div>
<div class="field">
    <label for="">Deskripsi</label>
    {% render_field form.deskripsi rows=3 %}
</div>
<div class="fields">
    <div class="field">
        <label for="">Tarif Dokter</label>
        {{ form.trf_dokter }}
        <small>* Tarif kesepakatan dengan dokter</small>
    </div>
    <div class="field">
        <label for="">Tarif Asisten</label>
        {{ form.trf_asisten }}
        <small>* Tarif kesepakatan dengan asisten dokter</small>
    </div>
    <div class="field">
        <label for="">Tarif Klinik</label>
        {{ form.trf_klinik }}
        <small>* Tarif penyedia klinik</small>
    </div>
</div>