{% load humanize %}

<td>{{ forloop.counter }}</td>
<td>{{ obat.barcode }}</td>
<td>{{ obat.nm_obat }}</td>
<td>{{ obat.kandungan_obat|default:"-" }}</td>
<td>{{ obat.stok }}</td>
<td class="right aligned">{{ obat.harga_jual|intcomma }}</td>
<td class="collapsing">
    <div class="ui text compact menu">
        <a title="Add stock" href="#" data-url="{% url 'masterdata:add-stok-obat' obat.id %}" class="item js-btn">
            <i class="add icon orange"></i>
        </a>
        <a title="View" href="{% url 'masterdata:obat-detail' obat.id %}" class="item">
            <i class="eye icon"></i>
        </a>
        <a title="Update" href="{% url 'masterdata:obat-update' obat.id %}" class="item">
            <i class="edit blue icon"></i>
        </a>
        <a title="Delete" href="#" class="item">
            <i class="trash red icon"></i>
        </a>
    </div>
</td>