{% load widget_tweaks %}

<div class="field">
    <label for="">Nama Lengkap</label>
    {{ form.nm_pasien }}
</div>
<div class="fields">
    <div class="four wide field">
        <label for="">Tanggal Lahir</label>
        <div class="ui calendar" id="date-calendar">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                {% render_field form.tgl_lahir readonly=1 %}
            </div>
        </div>
        {% if form.tgl_lahir.errors %}
            {% for error in form.tgl_lahir.errors %}
            <small class="ui text red">{{ error }}</small>
            {% endfor %}
        {% endif %}
    </div>
    <div class="field">
        <label for="">Tempat Lahir</label>
        {{ form.tmp_lahir }}
    </div>
</div>
<div class="field">
    <label for="">Kelamin</label>
    {{ form.jns_kelamin }}
</div>
<div class="field">
    <label for="">Alamat</label>
    {{ form.alamat }}
</div>
<div class="field">
    <label for="">No. Hp / Telpon</label>
    {{ form.telepon }}
</div>