<div class="header">
    {{ obat }}
</div>
<div class="content">
    <form id="obat-form" data-target="obat-id" action="{% url 'masterdata:add-stok-obat' obat.id %}" method="post" class="ui form js-post-form">
        {% csrf_token %}
        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">Tambah Obat</div>
                {{ form.stok }}
            </div>
        </div>
    </form>
</div>
<div class="actions">
    <button class="ui primary labeled icon button" type="submit" form="obat-form">
        <i class="save icon"></i> Simpan
    </button>
    <button class="ui negative labeled icon button" type="button">
        <i class="close icon"></i> Batal
    </button>
</div>