<div class="header">
    Pasien
</div>
<div class="content">
    <form id="pasien-form" action="{% url 'masterdata:pasien-create-js' %}" method="post"  class="ui form js-post-form">
        {% csrf_token %}
        {% include 'masterdata/includes/partial-pasien-form.html' %}
    </form>
</div>
<div class="actions">
    <button class="ui negative button">Batal</button>
    <button form="pasien-form" class="ui primary button" type="submit">
        <i class="save icon"></i> Simpan
    </button>
</div>