<div class="field">
    <label for="">Kode. Obat</label>
    {{ form.barcode }}
    <small>* Kode obat / barcode</small>
</div>
<div class="field">
    <label for="">Nama Obat</label>
    {{ form.nm_obat }}
</div>
<div class="field">
    <label for="">Kandungan Zat</label>
    {{ form.kandungan_obat }}
</div>
<div class="field">
    <label for="">Harga *</label>
    {{ form.harga_jual }}
    <small>* Harga satuan</small>
</div>