{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui header">Ubah Password</div>
            
                <form action="" method="post" class="ui form">
                    {% csrf_token %}
                    <div class="field">
                        <label for="">Password Lama</label>
                        {{ form.old_password }}
                        <small style="color:brown">{{ form.old_password.errors }}</small>
                    </div>
                    <div class="field">
                        <label for="">Password Baru</label>
                        {{ form.new_password1 }}
                        <small style="color:brown">{{ form.new_password1.errors }}</small>
                    </div>
                    <div class="field">
                        <label for="">Confirm Password</label>
                        {{ form.new_password2 }}
                        <small style="color:brown">{{ form.new_password2.errors }}</small>
                    </div>
                    <button type="submit" class="ui primary button">
                        Ubah Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}