{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'account:user-list' %}" class="section">User Managemen</a>
                        <div class="divider">/</div>
                        <div class="section active">New</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui center aligned header">MANAGEMEN FORM</div>
                    <form action="" method="post" class="ui form">
                        {% csrf_token %}
                        <div class="field">
                            <label for="">Username</label>
                            <small>* Digunakan sebagai username login</small>
                            {{ form.username }}
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                <small style="color: brown;">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="field">
                            <label for="">Nama Lengkap</label>
                            {{ form.nama_lengkap }}
                        </div>
                        <div class="field">
                            <label for="">Level</label>
                            {{ form.user_lvl }}
                        </div>
                        <div class="label">
                            <button class="ui primary button">
                                <i class="save icon"></i>
                                Simpan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}