{% extends 'base.html' %}


{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                {% include 'includes/menubar.html' with add_title='Tambah User' add_url=url %}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached blue segment">
                    <div class="ui header">
                        <i class="users cog icon"></i>
                        <div class="content">
                            User Management
                            <div class="sub header">
                                Pengelolaan User Account
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui selectable bottom attached table">
                    <thead>
                        <tr>
                            <th class="collapsing">#</th>
                            <th class="collapsings">Username</th>
                            <th>Nama</th>
                            <th>Type</th>
                            <th>No. Telpon</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in user_list %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>${{ user.username }}</td>
                            <td>{{ user.first_name|default:'-' }}</td>
                            <td>{{ user.user_lvl.title|default:'-' }}</td>
                            <td>{{ user.telepon|default:'-' }}</td>
                            <td class="collapsing">
                                <div class="ui text compact menu">
                                    <a href="{% url 'account:user-update' user.id %}" class="item">
                                        <i class="edit blue icon"></i>
                                    </a>
                                    <a href="#" class="item">
                                        <i class="trash red icon"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}