{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui breadcrumb">
                    <a href="{% url 'account:user-list' %}" class="section">Managemen User</a>
                    <div class="divider">/</div>
                    <div class="section active">{{ form.instance.first_name }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <form action="" method="post" class="ui equal width form">
                    {% csrf_token %}
                    <div class="field">
                        <label for="">Username</label>
                        <div class="ui left icon input readonly">
                            <i class="user md icon"></i>
                            {% render_field  form.username readonly=1 %}
                        </div>
                    </div>
                    <div class="field">
                        <label for="">Nama Lengkap</label>
                        {% render_field form.first_name %}
                    </div>
                    <div class="fields">
                        <div class="three wide field">
                            <label for="">Tgl. Lahir</label>
                            <div class="ui calendar" id="date-calendar">
                                <div class="ui left icon input">
                                    <i class="calendar icon"></i>
                                    {% render_field form.tgl_lahir readonly=1 %}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="">Tempat Lahir</label>
                            {% render_field form.tmp_lahir %}
                        </div>
                    </div>
                    <div class="field">
                        <label for="">Jenis Kelamin</label>
                        {% render_field form.jns_kelamin %}
                    </div>
                    <div class="field">
                        <label for="">No. Telepon</label>
                        {% render_field form.telepon %}
                    </div>
                    <div class="field">
                        <button class="ui primary button" type="submit">
                            <i class="save icon"></i> Simpan
                        </button>
                        <button onclick="window.history.back()" class="ui red button" type="button">
                            <i class="close icon"></i> Batal
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}