<div class="field">
    <label for="">Username</label>
    {{ form.username }}
</div>
<div class="field">
    <label for="">Password</label>
    {{ form.password1 }}
</div>
<div class="field">
    <label for="">Confirm Password</label>
    {{ form.password2 }}
</div>