{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'masterdata:obat-list' %}" class="section">Stok Obat</a>
                        <div class="divider">/</div>
                        <div class="section active">New</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui center aligned header">OBAT FORM</div>
                    <br>
                    <form action="" method="post" class="ui form">
                        {% csrf_token %}
                        {% include 'masterdata/includes/partial-obat-form.html' %}
                        <button class="ui primary button" type="submit">
                            <i class="save icon"></i> Simpan Obat
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}