{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'masterdata:obat-list' %}" class="section">Stok Obat</a>
                        <div class="divider">/</div>
                        <div class="section active">{{ obat.nm_obat }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached segment">
                    <div class="ui center aligned header">
                        OBAT
                        <div class="sub header">
                            {{ obat.nm_obat|upper }}
                        </div>
                    </div>
                </div>
                <table class="ui attached table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="ui sub header">nama obat</div>
                                <span>{{ obat.nm_obat }}</span>
                            </td>
                            <td>
                                <div class="ui sub header">kode</div>
                                <span>{{ obat.barcode }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="ui sub header">kandungan obat</div>
                                <span>{{ obat.kandungan_obat|default:'-' }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="ui sub header">harga</div>
                                <span>{{ obat.harga_jual|intcomma }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="ui sub header">stok</div>
                                <span>{{ obat.stok }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui bottom attached segment">
                    <a href="{% url 'masterdata:obat-update' obat.id %}" class="ui blue labeled icon button">
                        <i class="edit icon"></i> Edit Obat
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}