{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui breadcrumb">
                    <a href="{% url 'masterdata:obat-list' %}" class="section">Obat</a>
                    <div class="divider">/</div>
                    <div class="section active">{{ form.instance.nm_obat }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui dividing header">
                    <i class="pills icon"></i>
                    <div class="content">
                        UPDATE OBAT
                        <div class="sub header">
                            {{ obat.nm_obat }}
                        </div>
                    </div>
                </div>
                <br>
                <!-- <div class="ui segment"> -->
                    <form action="" method="post" class="ui form">
                        {% csrf_token %}
                        {% include 'masterdata/includes/partial-obat-form.html' %}
                        <button class="ui primary button" type="submit">
                            <i class="save icon"></i> Simpan
                        </button>
                        <button onclick="window.history.back()" class="ui red button" type="button">
                            <i class="close icon"></i> Batal
                        </button>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}