{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                {% include 'includes/menubar.html' with add_title='Tambah Obat' add_url=url_create %}
            </div>
        </div>
        <div class="row">
            <div id="obat-id" class="column">
                <div class="ui top attached blue segment">
                    <div class="ui header">
                        <i class="pills icon"></i>
                        <div class="content">
                            Stok Obat
                            <div class="sub header">
                                Pengelolaan Stok Obat
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui selectable bottom attached table">
                    <thead>
                        <tr>
                            <th class="collapsing">#</th>
                            <th>Kode. Obat</th>
                            <th>Obat</th>
                            <th>Kandungan Obat</th>
                            <th class="collapsing">Stok</th>
                            <th class="right aligned">Harga</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obat in obat_list %}
                        <tr id="obat-tr-{{ obat.id }}">
                            {% include 'masterdata/includes/partial-obat-row.html' %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">Tidak ada data.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        var load_modal = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('data-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('.ui.modal').modal('show');
                },
                success: function(data) {
                    $('.ui.modal').html(data.html)
                }
            });
            return false;
        }

        var post_update_form = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    if (data.form_is_valid) {
                        $('#obat-tr-' + data.obj_id).html(data.data_html);
                        $('.ui.modal').modal('hide');
                    } else {
                        $('.ui.modal').html(data.html);
                    }
                }
            })
            return false;
        }

        $('#obat-id').on('click', '.js-btn', load_modal);
        $('.ui.modal').on('submit', '.js-post-form', post_update_form);
    });
</script>
{% endblock %}