{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'masterdata:pasien-list' %}" class="section">Pasien</a>
                        <div class="divider">/</div>
                        <div class="section active">New Pasien</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui center aligned header">PASIEN FORM</div>
                    <form action="" method="post" class="ui equal width form">
                        {% csrf_token %}
                        {% include 'masterdata/includes/partial-pasien-form.html' %}
                        <button class="ui primary button" type="submit">
                            <i class="save icon"></i> Simpan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}