{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'masterdata:pasien-list' %}" class="section">Pasien</a>
                        <div class="divider">/</div>
                        <div class="section active">{{ pasien.nm_pasien }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached center aligned segment">
                    <div class="ui small header">
                        PASIEN
                        <div class="sub header"><strong>{{ pasien.nm_pasien|upper }} - ID.{{ pasien.no_pasien }}</strong></div>
                    </div>
                </div>
                <table class="ui basics celled attached table">
                    <tr>
                        <td colspan="2">
                            <div class="ui sub header">nama lengkap</div>
                            <span>{{ pasien.nm_pasien }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui sub header">tgl lahir</div>
                            <span>{{ pasien.tgl_lahir }}</span>
                        </td>
                        <td>
                            <div class="ui sub header">tempat</div>
                            <span>{{ pasien.tmp_lahir }}</span>
                        </td>
                    </tr>
                        <td>
                            <div class="ui sub header">jenis kelamin</div>
                            <span>{{ pasien.get_jns_kelamin_display }}</span>
                        </td>
                        <td>
                            <div class="ui sub header">usia</div>
                            <span>{{ pasien.get_ages }} Tahun</span>
                        </td>
                    <tr>
                        <td colspan="2">
                            <div class="ui sub header">Alamat Rumah</div>
                            <span>{{ pasien.alamat }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="ui sub header">no. telepon</div>
                            <span>{{ pasien.telepon|default:'-' }}</span>
                        </td>
                    </tr>
                </table>
                <div class="ui bottom attached segment">
                    <a href="{% url 'masterdata:pasien-update' pasien.id %}" class="ui orange labeled icon button"><i class="edit icon"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}