{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'masterdata:pasien-list' %}" class="section">Pasien</a>
                        <div class="divider">/</div>
                        <div class="section active">{{ form.instance.nm_pasien }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui small dividing header">
                    <i class="user icon"></i>
                    <div class="content">
                        UPDATE PASIEN
                        <div class="sub header">{{ pasien.no_pasien }} - {{ pasien.nm_pasien|upper }}</div>
                    </div>
                </div>
                <br>
                <!-- <div class="ui segment"> -->
                    <form action="" method="post" class="ui form">
                        {% csrf_token %}
                        {% include 'masterdata/includes/partial-pasien-form.html' %}
                        <button class="ui primary button" type="submit">
                            <i class="save icon"></i> Simpan
                        </button>
                        <button onclick="window.history.back()" type="button" class="ui red button"><i class="close icon"></i> Batal</button>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}