{% extends 'base.html' %}


{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui text menu">
                    <div class="item">
                        <form action="" class="ui form">
                            <div class="ui right icon input">
                                <i class="search link icon"></i>
                                <input name="q" type="text" class="prompt" placeholder="Search..." style="border-radius: 20px;">
                            </div>
                        </form>
                    </div>
                    <div class="right menu">
                        <div class="item">
                            <a href="{% url 'masterdata:pasien-create' %}" class="ui primary labeled icon button">
                                <i class="add icon"></i> Tambah Pasien
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached blue segment">
                    <div class="ui header">
                        <i class="user icon"></i>
                        <div class="content">
                            Pasien
                            <div class="sub header">
                                Pengelolaan Pasien
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui selectable bottom attached table">
                    <thead>
                        <tr>
                            <th class="collapsing">#</th>
                            <th class="collapsing">No. Pasien</th>
                            <th>Nama</th>
                            <th>Usia (thn)</th>
                            <th>Alamat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pasien in pasien_list %}
                        <tr onclick="window.location.href='{% url 'masterdata:pasien-detail' pasien.id %}'">
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>{{ pasien.no_pasien }}</td>
                            <td>{{ pasien.nm_pasien }}</td>
                            <td>{{ pasien.get_ages }}</td>
                            <td>{{ pasien.alamat }}</td>
                            <td class="collapsing">
                                <div class="ui text compact menu">
                                    <a href="{% url 'masterdata:pasien-update' pasien.id %}" class="item">
                                        <i class="edit blue icon"></i>
                                    </a>
                                    <a href="#" class="item">
                                        <i class="trash red icon"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Tidak ada data.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        var modal_load = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('data-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('.ui.modal').modal('show');
                },
                success: function(data) {
                    $('.ui.modal').html(data.html);
                }
            });
            return false;
        }

        var postform = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                dataType: 'json',
                type: form.attr('method'),
                data: form.serialize(),
                success: function(data) {
                    if (data.form_is_valid) {
                        $('.ui.modal').modal('hide');
                    }
                    else {
                        $('.ui.modal').html(data.html);
                    }
                }
            });
            return false;
        }

        $('.js-modal-load').click(modal_load);
        $('.ui.modal').on('submit', '.js-post-form', postform);
    })
</script>
{% endblock %}