{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="ui fuid container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                {% include 'includes/menubar.html' with add_title='Tambah Layanan' add_url=url %}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached blue segment">
                    <div class="ui header">
                        <i class="star icon"></i>
                        <div class="content">
                            Layanan & Tarif
                            <div class="sub header">
                                Pengelolaan Layanan & Tarif
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui selectable bottom attached table">
                    <thead>
                        <tr>
                            <th class="collapsing">#</th>
                            <th>Layanan</th>
                            <th>Deskripsi</th>
                            <th class="collapsing">Total Tarif</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarif in tarif_list %}
                        <tr onclick="window.location.href='{% url 'masterdata:tarif-detail' tarif.id %}'">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tarif.nm_tarif }}</td>
                            <td>{{ tarif.deskripsi|default:'-' }}</td>
                            <td>{{ tarif.get_subtotal|intcomma }}</td>
                            <td class="collapsing">
                                <div class="ui text compact menu">
                                    <a href="{% url 'masterdata:tarif-update' tarif.id %}" class="item">
                                        <i class="edit blue icon"></i>
                                    </a>
                                    <a href="#" class="item">
                                        <i class="trash red icon"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Tidak ada data.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>

    
</div>
{% endblock %}
