{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'masterdata:tarif-list' %}" class="section">Tarif Layanan</a>
                        <div class="divider">/</div>
                        <div class="section active">{{ tarif.nm_tarif }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached segment">
                    <div class="ui center aligned header">
                        LAYANAN
                        <div class="sub header">{{ tarif.nm_tarif }}</div>
                    </div>
                </div>
                <table class="ui attached table">
                    <tr>
                        <td colspan="3">
                            <div class="ui sub header">nama layanan</div>
                            <span>{{ tarif.nm_tarif }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="ui sub header">deskripsi</div>
                            <span>{{ tarif.deskripsi|default:'-' }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ui sub header">Tarif Dokter</div>
                            <span>{{ tarif.trf_dokter|intcomma }}</span>
                        </td>
                        <td>
                            <div class="ui sub header">Tarif Asisten</div>
                            <span>{{ tarif.trf_asisten|intcomma }}</span>
                        </td>
                        <td>
                            <div class="ui sub header">tarif klinik</div>
                            <span>{{ tarif.trf_klinik|intcomma }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="ui sub header">total tarif</div>
                            <span>IDR {{ tarif.get_subtotal|intcomma }}</span>
                        </td>
                    </tr>
                </table>
                <div class="ui bottom attached segment">
                    <a href="{% url 'masterdata:tarif-update' tarif.id %}" class="ui primary button">
                        <i class="edit icon"></i> Edit Layanan
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}