{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'masterdata:tarif-list' %}" class="section">Tarif Layanan</a>
                        <div class="divider">/</div>
                        <div class="section active">{{ form.instance.nm_tarif }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui dividing header">
                    <i class="x ray icon"></i>
                    <div class="content">
                        UPDATE LAYANAN
                        <div class="sub header">{{ tarif.nm_tarif|upper }}</div>
                    </div>
                </div>
                <br>
                <!-- <div class="ui segment"> -->
                    <form action="" method="post" class="ui form">
                        {% csrf_token %}
                        {% include 'masterdata/includes/partial-tarif-form.html' %}
                        <button class="ui primary labeled icon button" type="submit">
                            <i class="save icon"></i> Simpan Layanan
                        </button>
                        <button onclick="window.history.back()" class="ui red labeled icon button" type="button">
                            <i class="close icon"></i> Batal
                        </button>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}