{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row computer only">
            <div class="column">
                {% include 'includes/menubar.html' with add_title="Daftar Praktek" add_url=url %}
            </div>
        </div>
        <div class="row mobile only">
            <div class="column">
                <!-- Mobile  -->
                <div class="ui text menu">
                    <div class="item">
                        <form action="" class="ui form">
                            <div class="ui right icon input">
                                <i class="search link icon"></i>
                                <input name="q" type="text" class="prompt" placeholder="Search..." style="border-radius: 20px;">
                            </div>
                        </form>
                    </div>
                    <div class="right menu">
                        <div class="item">
                            <a href={{ url }} class="ui primary icon button">
                                <i class="add icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Only -->
            </div>
        </div>
        <div class="row computer only">
            <div class="column">
                <div class="ui top attached blue segment">
                    <div class="ui header">
                        <i class="user injured icon"></i>
                        <div class="content">
                            Reservasi Pasien
                            <div class="sub header">
                                Antrian Reservasi Pasien
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui selectable bottom attached table">
                    <thead>
                        <tr>
                            <th class="collapsing">#</th>
                            <th>Pasien</th>
                            <th class="collapsing">Waktu Masuk</th>
                            <th>Keluhan Awal</th>
                            <th>Dokter</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'medis/includes/partial-peserta-list.html' %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
        <div class="row tablet mobile only">
            <div class="column">
                {% for peserta in list_peserta %}
                <div class="ui segments">
                <div class="ui orange clearing segment">
                    <div class="ui sub left floated header">{{ peserta.timestamp|date:"M d, Y - H:i" }}</div>
                    <div class="ui sub right floated header">{{ peserta.pasien.nm_pasien }}</div>
                </div>
                <div class="ui segment">
                    {{ peserta.keluhan }}
                </div>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}