{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'medis:peserta-list' %}" class="section">Peserta Medis</a>
                        <div class="divider">/</div>
                        <div class="section active">{{ peserta.pasien.nm_pasien }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
                <div class="ui top attached blue segment">
                    <div class="ui center aligned header"> 
                        <div class="content">
                            IDENTITAS PASIEN
                            <div class="sub header">
                                <strong>{{ peserta.pasien|upper }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui celled bottom attached table">
                    <tbody>
                        <tr>
                            <td>NAMA</td>
                            <td>{{ peserta.pasien.nm_pasien|upper }}</td>
                        </tr>
                        <tr>
                            <td class="collapsing">KELAMIN / USIA</td>
                            <td>{{ peserta.pasien.get_jns_kelamin_display|upper }} ({{ peserta.pasien.get_ages }})</td>
                        </tr>
                        <tr>
                            <td>ALAMAT</td>
                            <td>{{ peserta.pasien.alamat|upper }}</td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="ui top attached segment">
                    <div class="ui header">
                        <i class="stethoscope icon"></i>
                        <div class="content">
                            REKAM MEDIS
                            <div class="sub header">
                                Catatan Rekam Medis Pasien
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui attached segment">
                    <form id="form-medis" action="" method="post" class="ui form">
                        {% csrf_token %}
                        {% include 'medis/includes/partial-pemeriksaan-medis-form.html' %}
                    </form>
                </div>
                <div class="ui bottom attached clearing segment">
                        <button form="form-medis" type="submit" class="ui right floated primary button">Simpan Rekam Medis</button>
                </div>
            </div>
            <div class="six wide column">
                <div id="tindakan-medis">
                    <div class="ui top attached header">TINDAKAN MEDIS</div>
                    <table class="ui attached table">
                        <thead>
                            <tr>
                                <th class="collapsing">#</th>
                                <th>Tindakan Medis</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'medis/includes/partial-tindakan-medis-list.html' %}
                        </tbody>
                    </table>
                    <div class="ui bottom attached greens button btn-js" data-url="{% url 'medis:tindakan-create-js' peserta.id %}">
                        <i class="add icon"></i> Tindakan Medis
                    </div>
                </div>

                <div id="resep-obat" class="ui vertical segment">
                    <div class="ui top attached header">
                        RESEP OBAT
                    </div>
                    <table class="ui attached table">
                        <thead>
                            <tr>
                                <th>Resep Obat</th>
                                <th>Qty</th>
                                <th>Harga / Pcs</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'medis/includes/partial-resep-obat-list.html' %}
                        </tbody>
                    </table>
                    <div data-url="{% url 'medis:resepobat-create-js' peserta.id %}" class="ui oranges bottom attached button btn-js">
                        <i class="add icon"></i> Resep Obat
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    $(document).ready(function() {
        var load_modal = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('data-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('.ui.modal').modal('show');
                },
                success: function(data) {
                    $('.ui.modal').html(data.html)
                }
            });
            return false;
        }

        var post_form = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    if (data.form_is_valid) {
                        $('#' + form.attr('data-target') +' table tbody').html(data.data_html);
                        $('.ui.modal').modal('hide');
                    } else {
                        $('.ui.modal').html(data.html);
                    }
                }
            })
            return false;
        }

        $('#tindakan-medis').on('click', '.btn-js', load_modal);
        $('.ui.modal').on('submit', '.tindakan-form-js', post_form);
        $('#tindakan-medis').on('click', '.tindakan-delete-js', load_modal)

        $('#resep-obat').on('click', '.btn-js', load_modal);
        $('.ui.modal').on('submit', '.resep-form-js', post_form);
        $('#resep-obat').on('click', '.delete-js', load_modal);
    })
</script>
{% endblock %}