{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'medis:peserta-list' %}" class="section">Praktek Umum</a>
                        <div class="divider">/</div>
                        <div class="section active">{{ form.instance.pasien.nm_pasien }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <form action="" method='post' class="ui form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="ui primary button">
                        <i class="save icon"></i> Simpan
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}