{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'medis:peserta-list' %}" class="section">Praktek Umum</a>
                        <div class="divider">/</div>
                        <div class="section active">New</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui segment">
                <div class="ui center aligned header">RESERVASI PASIEN</div>
                <form action="" method="post" class="ui form">
                    {% csrf_token %}
                    {% include 'medis/includes/partial-peserta-form.html' %}
            
                    <button class="ui primary button">
                        <i class="save icon"></i> Simpan
                    </button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('.ui.dropdown').dropdown({
            apiSettings: {
                url: "{% url 'api_masterdata:pasien-list' %}?q={query}",
            },
            fields: {
                remoteValues: 'results',
                name: 'nm_pasien',
                value: 'id',
                text: 'nm_pasien'
            }
        });
    });
</script>
{% endblock %}