{% for peserta in list_peserta %}
<tr onclick="window.location.href='{% url 'medis:peserta-detail' peserta.id %}'">
    <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
    <td>{{ peserta.pasien }} &nbsp; <div class="ui circular orange label">{{ peserta.pasien.get_ages }} thn</div></td>
    <td>{{ peserta.tgl_rekam|date:"d/m/Y" }}</td>
    <td>{{ peserta.keluhan }}</td>
    <td>{{ peserta.dokter }}</td>
    <td>
        <div class="ui blue label">{{ peserta.get_state_display }}</div>
    </td>
    <td class="collapsing">
        <div class="ui compact text menu">
            <a href="{% url 'medis:peserta-update' peserta.id %}" class="item"><i class="edit blue icon"></i></a>
            <a href="#" class="item"><i class="trash red icon"></i></a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="7">Ditak ada data.</td>
</tr>
{% endfor %}