<div class="field">
    <label for="">Tanggal Pendaftaran</label>
    <div class="ui calendar" id="date-calendar">
        <div class="ui input left icon">
            <i class="calendar icon"></i>
            {{ form.tgl_rekam }}
        </div>
    </div>
</div>
<div class="field">
    <label for="">Pilih Pasien</label>
    <div class="ui search selection fluid dropdown">
        <input type="hidden" name="pasien">
        <i class="dropdown icon"></i>
        <div class="default text">Pasien</div>
    </div>
</div>
<div class="field">
    <label for="">Keluhan Pasien</label>
    {{ form.keluhan }}
</div>
<div class="field">
    <label for="">Dokter</label>
    {{ form.dokter }}
</div>