{% for resep in resep_list %}
<tr>
    <td>{{ resep.obat }}</td>
    <td>{{ resep.jml_obat }}</td>
    <td>@ {{ resep.obat.harga_jual }}</td>
    <td class="collapsing">
        <a class="delete-js" data-url="{% url 'medis:resepobat-delete-js' resep.id %}" href="#"><i class="trash red icon"></i> Hapus</a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3">Tidak ada resep obat.</td>
</tr>
{% endfor %}