<div class="header">
    Tindakan Medis
</div>
<div class="content">
    <form data-target="tindakan-medis" id="form" action="{% url 'medis:tindakan-create-js' peserta.id %}" method="post" class="ui form tindakan-form-js">
        {% csrf_token %}
        <div class="field">
            <label for="">Tindakan Medis</label>
            <div class="ui fluid search selection dropdown">
                <input type="hidden" name="tinddakan">
                <i class="dropdown icon"></i>
                <div class="defaut text">Pilih Tindakan Medis</div>
            </div>
        </div>
        <div class="field">
            <label for="">Keterangan</label>
            {{ form.keterangan }}
        </div>
    </form>
</div>
<div class="actions">
    <div class="ui negative button">Batalkan</div>
    <button form="form" class="ui primary button" type="submit">
        <i class="save icon"></i> Simpan Tindakan
    </button>
</div>

<script>
    $('.ui.search.dropdown').dropdown({
        apiSettings: {
            url: "{% url 'api_masterdata:tarif-list' %}"
        },
        fields: {
            name: 'nm_tarif',
            value: 'id',
            text: 'nm_tarif',
        }
    })
</script>