<div class="ui icon header">
    <i class="archive icon"></i>
    Hapus Tindakan Medis
    </div>
<div class="content">
    <p>
        Anda setuju untuk menghapus data tindakan medis <strong>{{ tindakan.tindakan }}.</strong>
    </p>
    <form data-target="tindakan-medis" id="form" action="{% url 'medis:tindakan-delete-js' tindakan.id %}" method="post" class="tindakan-form-js">
        {% csrf_token %}
    </form>
</div>
<div class="actions">
    <div class="ui negative button">Batalkan!</div>
    <button form="form" class="ui button" type="submit">Ya lanjutkan</button>
</div>
