<div class="ui icon header">
        <i class="archive icon"></i>
        Hapus Tindakan Medis
        </div>
    <div class="content">
        <p>
            Anda setuju untuk menghapus <strong>{{ resep.obat }}.</strong>
        </p>
        <form data-target="resep-obat" id="form" action="{% url 'medis:resepobat-delete-js' resep.id %}" method="post" class="tindakan-form-js">
            {% csrf_token %}
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">Batalkan!</div>
        <button form="form" class="ui button" type="submit">Ya lanjutkan</button>
    </div>
    