<div class="header">
    Pemberian Resep Obat
</div>
<div class="content">
    <form data-target="resep-obat" id="form" action="{% url 'medis:resepobat-create-js' peserta.id %}" method="post" class="ui form resep-form-js">
        {% csrf_token %}
        <div class="field">
            <label for="">Nama Obat</label>
            <div class="ui fluid search selection dropdown">
                <input type="hidden" name="obat">
                <i class="dropdown icon"></i>
                <div class="default text">Pilih Obat</div>
            </div>
        </div>
        <div class="field">
            <label for="">Jumlah</label>
            {{ form.jml_obat }}
        </div>
    </form>
</div>
<div class="actions">
    <div class="ui negative button">Batalkan</div>
    <button class="ui green button" type="submit" form="form">
        <i class="save icon"></i> Simpan Resep
    </button>
</div>

<script>
    $('.ui.search.dropdown').dropdown({
        apiSettings: {
            url: "{% url 'api_masterdata:obat-list' %}?q={query}"
        },
        fields: {
            name: 'nm_obat',
            value: 'id',
            text: 'nm_obat',
        }
    });
</script>