{% load widget_tweaks %}

<div class="field">
    <label for="">Keluhan Pasien</label>
    {% render_field form.keluhan readonly=1 %}
</div>
<div class="field">
    <label for="">Anamnesis</label>
    {% render_field form.anamnesis rows=3 %}
</div>
<div class="field">
    <label for="">Pemeriksaan Fisik</label>
    {% render_field form.pemeriksaan_fsk rows=3 %}
</div>
<div class="field">
    <label for="">Diagnosis</label>
    {{ form.diagnosis }}
</div>
<div class="fields">
    <div class="field">
        <label for="">Berat Badan</label>
        <div class="ui right labeled input">
            {{ form.berat_badan }}
            <div class="ui basic label">cm</div>
        </div>
    </div>
    <div class="field">
        <label for="">Suhu Badan</label>
        <div class="ui right labeled input">
            {{ form.suhu_badan }}
            <div class="ui basic label">Celcius</div>
        </div>
    </div>
</div>
<div class="fields">
    <div class="field">
        <label for="">Tensi Darah</label>
        <div class="ui right labeled input">
            {{ form.tensi_darah }}
            <div class="ui basic label">
                mm Hg
            </div>
        </div>
    </div>
    <div class="field">
        <label for="">BMI</label>
        {{ form.bmi }}
    </div>
</div>