{% for tindakan in tindakan_list %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ tindakan.tindakan }}</td>
    <td class="collapsing">
        <a href="#" data-url="{% url 'medis:tindakan-delete-js' tindakan.id %}" class="item tindakan-delete-js">
            <i class="trash red icon"></i> Delete
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3">Tidak ada tindakan.</td>
</tr>
{% endfor %}