{% extends 'unauth-base.html' %}
{% load static %}

{% block title %}
Login - {{ processor_klinik.nm_klinik|default:'KLINIK SEHAT' }}
{% endblock %}

{% block content %}
<div class="ui container">
    <div class="ui stackable middle aligned grid">
        <div class="row" style="min-height: 560px;">
            <div class="seven wide right floated column">            
                <div class="ui inverted segment" style="background: rgba(0,0,0,0.3)">
                    <div class="ui inverted icon center aligned header">
                        <i class="users icon"></i>
                        {{ processor_klinik.nm_klinik|upper|default:'KLINIK SEHAT' }}
                    </div>
                    <form action="" method="post" class="ui large inverted form">
                        {% csrf_token %}
                        <div class="field">
                            <label for="">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="field">
                            <label for="">Password</label>
                            {{ form.password }}
                        </div>
                        <div class="field">
                            <input type="checkbox" name="" id=""> Remember me
                        </div>
                        <button class="ui primary fluid large button" type="submit">
                            <i class="sign in alternate icon"></i> LOGIN
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    body {
        background-image: url("{% static 'images/bg.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}