{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui text menu">
                    <div class="item">
                        <form action="" class="ui form">
                            <div class="ui right icon input">
                                <i class="search link icon"></i>
                                <input type="text" name="q" placeholder="Search.." style="border-radius: 20px;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached blue segment">
                    <div class="ui header">
                        <i class="cash register icon"></i>
                        <div class="content">
                            Invois
                            <div class="sub header">Proses Pembayaran Invois</div>
                        </div>
                    </div>
                </div>
                <table class="ui selectable bottom attached celleds table">
                    <thead>
                        <tr>
                            <th class="collapsing">#</th>
                            <th>No. Invois</th>
                            <th class="collapsing">Tanggal Invois</th>
                            <th>Nama Pasien</th>
                            <th class="collapsing">Tagihan Invois</th>
                            <th class="right aligned">Status</th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for invois in invois_list %}
                        <tr onclick="window.location.href='{% url 'payment:invois-detail' invois.id %}'">
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>INV.{{ invois.inv_num }}</td>
                            <td>{{ invois.rk_medis.tgl_rekam|date:"d/m/Y" }}</td>
                            <td>{{ invois.rk_medis.pasien.nm_pasien }}</td>
                            <td>{{ invois.amount|intcomma }}</td>
                            <td class="collapsing right aligned"><div class="ui orange label">{{ invois.get_state_display }}</div></td>
                            <!-- <td></td> -->
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">Tidak ada data.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}