{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div class="ui breadcrumb">
                        <a href="{% url 'payment:invois-list' %}" class="section">Proses Pembayaran</a>
                        <div class="divider">/</div>
                        <div class="section action">{{ invois.rk_medis.pasien.nm_pasien }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached blue segment">
                    <div class="ui small center aligned header">DETAIL TAGIHAN</div>
                </div>
                <table class="ui celled attached table">
                    <tbody>
                        <tr>
                            <td colspan="3"><strong>TINDAKAN MEDIS</strong></td>
                        </tr>
                        {% for tindakan in invois.rk_medis.tindakan_medis.all %}
                        <tr>
                            <td class="collapsing">{{ forloop.counter }}</td>
                            <td>{{ tindakan.tindakan }}</td>
                            <td class="collapsings right aligned">{{ tindakan.subtotal|intcomma }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3">
                                <strong>RESEP OBAT</strong>
                            </td>
                        </tr>
                        {% for resep in invois.rk_medis.resep_obat.all %}
                        <tr>
                            <td class="collapsing">{{ forloop.counter }}</td>
                            <td>{{ resep.obat }} &nbsp; {{ resep.jml_obat }} &nbsp; x &nbsp; @{{ resep.obat.harga_jual }}</td>
                            <td class="collapsings right aligned">{{ resep.subtotal|intcomma }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2"><strong>TOTAL TAGIHAN</strong></td>
                            <td class="right aligned collapsing" style="min-width: 15rem;">
                                <strong>{{ invois.amount|intcomma }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui bottom attached segment">
                    {% if invois.state == 1 %}
                    <form action="{% url 'payment:paid' invois.id %}" method="post" class="ui large form">
                        {% csrf_token %}
                        <div class="ui action fluid input">
                            {{ form.cash }}
                            <button class="ui orange button" type="submit">LUNASI</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
                {% if invois.state ==  2 %}
                <div class="ui top attached segment">
                    <div class="ui small center aligned header">PEMBAYARAN</div>
                </div>
                <table class="ui celled bottom attached table">
                    <tbody>
                        <tr>
                            <td>Total tagihan</td>
                            <td class="collapsing right aligned" style="min-width:15rem">{{ invois.amount|intcomma }}</td>
                        </tr>
                        {% for pay in invois.paid.all %}
                        <tr>
                            <td>Bayar</td>
                            <td class="right aligned">{{ pay.cash|intcomma }}</td>
                        </tr>
                        <tr>
                            <td>Balance</td>
                            <td class="right aligned">{{ pay.balance|intcomma }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="right aligned">
                                <div class="ui green tag large label">LUNAS</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}